<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap" rel="stylesheet">

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
 		 <link href="/css/styles.css" rel="stylesheet">
	</head>
	<body class="text-2xl font-inter text-slate-600 bg-slate-50">
	
		<header class="mb-6">

		<nav class="">
			<label>
			<input type="checkbox">
			<span class="menu"> <span class="hamburger"></span> </span>
			<ul class="flex flex-col md:flex-row justify-items-start w-0 overflow-hidden">
			{%- for entry in collections.all | eleventyNavigation %} <li class="text-center ml-6 p-6 hover:underline"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
			{%- endfor %}
			</ul>
			</label>
		</nav>
		<div class="relative max-h-screen">
		{%- if (headerImage) -%}
		{% image headerImage, title or metadata.title %}
		{%- endif %}
		<div class="absolute bottom-0 w-full text-white>
		<h1 class="mx-auto text-white w-full">
			<a href="/" class="home-link font-lily text-5xl block mx-auto text-center pb-6 text-white">{{ title }}</a>
			</h1>
		<h2 class="mx-auto text-white text-center pb-6">{{ subTitle }}</h2>
		</div>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
		</div>
		</header>

		<main id="skip" class=" flow max-w-4xl mx-auto pt-6">
			{{ content | safe }}
		</main>

		<footer class="p-6 border-t-4 border-gray-100 max-w-4xl mx-auto">
		
		<div class="flex flex-row justify-between">
		<a href="mailto:natasha.pavey@gmail.com" >
			<img src="/images/email.png" alt="Email"  />
		</a>
			<a href="https://www.linkedin.com/in/natasha-pavey-64187a215/?originalSubdomain=uk" target="_blank" >
			<img src="/images/linkedin.png" alt="Linkedin" />
		</a>
		<a href="https://twitter.com/natashapaveyuk" target="_blank" >
			<img src="/images/twitter.png" alt="Twitter" />
		</a>
		<a href="https://www.facebook.com/natasha.pavey.96" target="_blank" >
			<img src="/images/facebook.png" alt="Facebook" />
		</a>
		<a href="https://www.instagram.com/natashapaveyuk/" target="_blank" >
			<img src="/images/instagram.png" alt="Instagram"  />
		</a>
		</div>

		
		</footer>
		<p class="text-sm text-center mb-6">
		&copy; Natasha Pavey. All right reserved.
		</p>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
